# Tested on ARM device:
# Python 3.12.10
# pip 26.0.1
# PyTorch index: https://download.pytorch.org/whl/cpu

numpy
scipy
pandas
lxml
scikit-learn
joblib
statsmodels
lifelines
pygam
torch
pytorch-lightning
torchmetrics
ISLP
xgboost
